//COLORS
$color-primary: #ff2b51;
$color-primary-judge: #ff842b;
$color-secondary: #d6d5dc;
$color-primary-dark: #cd082b;
$color-tertiary-dark: #6c6a7d;
$color-on-primary: #ffffff;
$color-disabled: #908d9e;

$color-bg-primary: #f5f5f5;
$color-bg-secondary: #ebebed;
$color-bg-secondary-ios: #efeff1;
$color-bg-primary-dark: #080a0f;
$color-secondary-medium: #c6c5cf;
$color-bg-base: #ffffff;
$color-bg-secondary-dark: #222534;
$color-tertiary-dark: #38354d;
$color-bg-disabled: #eef1f4;

$color-text-primary: #080a0f;
$color-text-primary-light: #38354d;
$color-text-secondary: #72747b;
$color-text-on-primary: #ffffff;
$color-text-disabled: #cacaca;
$color-text-secondary-light: #b2b2b8;

$color-divider-dark: #38354d;
$color-divider-medium: #d6d5dc;

$color-alert: #ea1a40;
$color-success: #27c200;
$color-warning: #ffb800;
$color-online: #41de1a;
$color-user-avatar: #8ddef0;

$color-highlight-bg-me: #13151d;
$color-highlight-bg-error: #ffebef;
$color-highlight-bg-widgets: #13151d;
$color-highlight-bg-upload: #d0f7c6;
$color-highlight-bg-success: #eefdea;
